PORT=8080
MONGODB_URI=mongodb+srv://davidjared123:LMFmu32SB3ucX91t@cluster0.k5maam1.mongodb.net/cse341-project2?retryWrites=true&w=majority
SESSION_SECRET=MiClaveSuperSecreta123!
GITHUB_CLIENT_ID=Ov23lityJirazabnJrWU
GITHUB_CLIENT_SECRET=84e1136faa7124fc1681944aa4215ec662c79b32
GITHUB_CALLBACK_URL=http://localhost:8080/github/callback